//? Components
@import "./_components/normalize";
@import "./_components/variables";
@import "./_components/mixins";

//? Pages
@import "./_pages/index";
@import "./_pages/contact";
@import "./_pages/disciplines";