/*Charte graphique liens*/
a:link {color: $oxblood;}
a:visited {color: $rich-mahogany;}
a:hover {color: red;}
a:active {color: $oxblood;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les marges internes et les bordures dans les marges des parents*/
}

/*-------------------------PARTIE LECTURE---------------------------*/
.contact-lecture{
    max-width: 1650px;
    margin: 0 auto;
    padding: 20px 10% 20px 10%;
    background: $graphite;
    border-radius: 8px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
        h2 {
        color: $main-white;
    }
}
/*-------------------------FIN PARTIE LECTURE---------------------------*/
.contact-h1 {
    color: $BackBlack;
    font-size: 8em;
    text-align: center;
    margin: 0;
    width: 100%;
}
/*--------------------------PARTIE CONTACT----------------------------*/

.contact-form {
    color: $main-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: $graphite;
    border-radius: 8px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
        .contact-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
                .contact-inputform {
                    padding: 5px;
                    margin-top: 10px;
                }
                .checkbox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 75%
                    }
                }
                .envoyer {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                        .contact-input {
                            color: $main-white;
                            padding: 5px;
                            margin-top: 10px;
                            border-radius: 7px;
                                &:hover {
                                transform: scale(1.1); // L'animation au survol
                                transition: 0.5s ease;
                            }
                        }
                }
        }
/*--------------------------FIN PARTIE CONTACT----------------------------*/

@media screen and (max-width: 900px) {
    .contact-lecture{
    max-width: 1650px;
    margin: 0 auto;
    padding: 10px 20% 20px 10%;
    background: $graphite;
    border-radius: 8px;
    text-align: left;
        h2 {
            font-size: 20px;
            color: $main-white;
    }
    }
    .contact-h1 {
    color: $BackBlack;
    font-size: 6em;
    text-align: center;
    margin: 100px 0px 0px 0px;
    width: 100%;
}
}
/*----------------------------FOOTER-----------------------------*/
footer {
    background-color: $BackBlack;
    padding: 10px 0 0 0;
    width: 100%;
/*----------------------------ANCHOR-----------------------------*/
    .footer-anchor{
        display: flex;
        justify-content: center;
        a{
        display: inline-block;
        color: $main-white;
        padding: 7px 70px 7px 70px;
        text-decoration: none;
        font-weight: bolder;
        font-size: 20px;
        border-radius: 5px;
        }
        a:hover {
        background-color: $rich-mahogany;
        transition: background-color 0.3s;
        }
        }
        section{
/*----------------------------FIN ANCHOR-----------------------------*/
            .footer-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding: 0 2rem 0 2rem;
                .logo{
                    background-color: $Grey-beige;
                    width: 100px;
                    margin-bottom: 2rem;
                    border: 0.1px solid $rich-mahogany;
                    box-shadow: 0 0 10px $Grey-beige;
                    border-radius: 5px;
                    padding-left: 6px;
                }
                nav{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);   
                }
                ul{
                    display: flex;
                    justify-content: center;
                    grid-gap: 30px;
                    @media (max-width: 700px) {
                                display: flex;
                                flex-direction: column;
                            }
                }
                    ul li{
                        list-style-type: none;
                        a{
                        text-decoration: none;
                        transition: 0.5s ease;
                        }
                        @media (max-width: 900px) {
                            margin-right: -10px;
                        }
                        
                        @media (max-width: 700px) {
                            margin: -10px 0 -10px 0;
                        }
                    }
            .footer-socials{
                display: flex;
                grid-gap: 40px;
                margin-right: 50px;
                @media (max-width: 1200px) {
                    gap: 25px;
                    margin-right: 30px;
                }
                
                @media (max-width: 900px) {
                    gap: 15px;
                    margin-right: 20px;
                }
                
                @media (max-width: 750px) {
                    gap: 10px;
                    margin-right: 10px;
                }
                    .groslogo {
                        display: inline-block;
                    }
                        /*Important pour le transform*/
                    .groslogo:hover {
                        transform: scale(1.7);
                        transition: 0.3s ease;
                    }
            }
            }
            .footer-bottom {
                background-color: $graphite;
                border-top: 1px solid white;
                color: white;
                display: flex;
                justify-content: center;
            }
        }
    }
/*----------------------------FIN FOOTER-----------------------------*/
/*----------------------------Scroll bar------------------------------*/
#info
{
	font-size: 18px;
	color: black;
	text-align: center;
	margin-bottom: 25px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}
#style-10::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: black;
	border-radius: 10px;
}

#style-10::-webkit-scrollbar
{
	width: 10px;
	background-color: $BackBlack;
}

#style-10::-webkit-scrollbar-thumb
{
	background-color: $graphite;
	border-radius: 10px;
	background: $oxblood;
}
/*----------------------------FIN Scroll bar------------------------------*/