/*Charte graphique liens*/
a:link {color: $oxblood;}
a:visited {color: $rich-mahogany;}
a:hover {color: $Grey-beige;}
a:active {color: $oxblood;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les marges internes et les bordures dans les marges des parents*/
}

body {
    background-color: white;
}
/*----------------------HEADER-----------------------*/
header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  border-bottom: solid 1px black;

  @include media-max($media-portrait){
    width: 100%;
    position: fixed;
  }

  .header-logo-container {
    display: flex;
    img {
      width: 100px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      gap: 3rem;

      @include media-max($media-portrait) { //?ajout du menu burger en version tablette/mobile et parametrage
        flex-direction: column;
        margin: 0;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgb(0, 0, 0);
        color: white;
        list-style: none;
        padding-top: 4rem;

        .menuItem {
          display: block;
          margin: 2rem 4rem;
          font-size: 1.4rem;
          color: white;
          text-decoration: none;
        }

        .menuItem:hover {
          text-decoration: underline;
        }
      }

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }

    .hamburger { //?ajout du menu burger en version tablette/mobile et parametrage
      display: none;

      @include media-max($media-portrait) {
        display: block;
        position: fixed;
        z-index: 100;
        top: 2rem;
        right: 1.3rem;
        padding: 4px;
        border: black solid 1px;
        background: white;
        cursor: pointer;

        .closeIcon {
          display: none;
        }
      }
    }
  }
}
/*----------------------FIN HEADER-----------------------*/

/*-------------------------PARTIE LECTURE---------------------------*/
.contact-lecture{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background: $graphite;
    border-radius: 8px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
        h2 {
        color: white;
    }
}
/*-------------------------FIN PARTIE LECTURE---------------------------*/
.contact-h1 {
    color: white;
    font-size: 8em;
    text-align: center;
    margin: 100px 0px 50px 0px;
    width: 100%;
}
/*--------------------------PARTIE CONTACT----------------------------*/

.contact-form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: $graphite;
    border-radius: 8px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
        .contact-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
                .contact-inputform {
                    padding: 5px;
                    margin-top: 10px;
                }
                .checkbox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 50%
                }
                .envoyer {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                        .contact-input {
                            color: white;
                            padding: 5px;
                            margin-top: 10px;
                            border-radius: 7px;
                        }
                }
        }
}
/*--------------------------FIN PARTIE CONTACT----------------------------*/

/*-----------------------------MEDIA QUERY---------------------------------*/
/*On peut ecrire min-width ou max-width personnellement je prefere le max*/
  /*EXEMPLE*/
  /*Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px 
        @media screen and (max-width: 1280px)
    Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px 
        @media all and (min-width: 1024px) and (max-width: 1280px)
    Sur tous types d'écrans orientés verticalement 
        @media all and (orientation: portrait)
        REGARDER le overflow : scroll ,pour un texte qui dépasse de sa boite parent*/
@media screen and (max-width: 800px) {
    .header1 {
        display: none;
    }
    .menu-burger {
        display: block;
    }
    .images1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    gap: 20%;
    }
    .imgsection1 {
    width: 30%;
    height: 30%;
    border-radius: 20px;
    transform: scaleX(-1);
    box-shadow: 5px 10px 50px rgba(178, 34, 34, 0.164);
    }
    .imgsection2 {
    width: 30%;
    height: 30%;
    border-radius: 20px;
    box-shadow: 5px 10px 50px rgba(178, 34, 34, 0.164);
    }
    .txtbox {
    font-size: 23px;
    }
    .vidéo {
        width: 100%;
    }
    .rammstein-form {
        margin-bottom: 20px;
    }
    .rammstein-lecture {
    margin-top: 200px;
    }
}


/*----------------------------FOOTER-----------------------------*/
footer {
    background-color: $BackBlack;
    padding: 10px 0 0 0;
    width: 100%;
/*----------------------------ANCHOR-----------------------------*/
    .footer-anchor{
        display: flex;
        justify-content: center;
        a{
        display: inline-block;
        background-color: $BackBlack;
        color: white;
        padding: 7px 70px 7px 70px;
        text-decoration: none;
        font-weight: bolder;
        font-size: 20px;
        border-radius: 5px;
        }
        a:hover {
        background-color: $rich-mahogany;
        transition: background-color 0.3s;
        }
        }
        section{
/*----------------------------FIN ANCHOR-----------------------------*/
            .footer-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            
                .logo{
                    background-color: $Grey-beige;
                    width: 10em;
                    margin: 0 0 20px 20px;
                    border: 0.1px solid $rich-mahogany;
                    box-shadow: 0 0 10px $Grey-beige;
                    border-radius: 5px;
                }
                ul{
                    display: flex;
                    justify-content: center;
                    grid-gap: 30px;
                    padding-inline-start: 0;
                }
                    ul li{
                        list-style-type: none;
                        a{
                        text-decoration: none;
                        }
                    }
            .footer-socials{
                display: flex;
                grid-gap: 40px;
                margin-right: 50px;
                    .groslogo {
                        display: inline-block;
                    }
                        /*Important pour le transform*/
                    .groslogo:hover {
                        transform: scale(1.7);
                    }
            }
            }
            .footer-bottom {
                background-color: $graphite;
                border-top: 1px solid white;
                color: white;
                display: flex;
                justify-content: center;
            }
        }
    }
/*----------------------------FIN FOOTER-----------------------------*/