/*Charte graphique liens*/
a:link {color: $oxblood;}
a:visited {color: $rich-mahogany;}
a:hover {color: $Grey-beige;}
a:active {color: $oxblood;}

footer {
    background-color: $BackBlack;
    padding: 10px 0 0 0;
    width: 100%;
    .footer-anchor{
        display: flex;
        justify-content: center;
        a{
        display: inline-block;
        background-color: $BackBlack;
        color: white;
        padding: 7px 70px 7px 70px;
        text-decoration: none;
        font-weight: bolder;
        font-size: 20px;
        border-radius: 5px;
        }
        a:hover {
        background-color: $rich-mahogany;
        transition: background-color 0.3s;
        }
        }
        section{
            .footer-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            
                .logo{
                    background-color: $Grey-beige;
                    width: 10em;
                    margin: 0 0 20px 20px;
                    border: 0.1px solid $rich-mahogany;
                    box-shadow: 0 0 10px $Grey-beige;
                    border-radius: 5px;
                }
                ul{
                    display: flex;
                    justify-content: center;
                    grid-gap: 30px;
                    padding-inline-start: 0;
                }
                    ul li{
                        list-style-type: none;
                        a{
                        text-decoration: none;
                        }
                    }
            .footer-socials{
                display: flex;
                grid-gap: 40px;
                margin-right: 50px;
                    .groslogo {
                        display: inline-block;
                    }
                        /*Important pour le transform*/
                    .groslogo:hover {
                        transform: scale(1.7);
                    }
            }
            }
            .footer-bottom {
                background-color: $graphite;
                border-top: 1px solid white;
                color: white;
                display: flex;
                justify-content: center;
            }
        }
    }