#disc-main{
    max-width: none;
    padding: 0;
    h1{
        display: flex;
        justify-content: center;
        font-size: 8em;
    }
}

.discipline-imgAccueil{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $BackBlack;
        img{
            width: 50%;
        }
}
.disc-jiujitsu{
    display: flex;
    margin: 0 20px 0 20px;
    img{
        width: 700px;
    }
    .disc-jiujitsuTxt{
        div{
            padding: 20px 50px 20px 50px;
            p{
            text-align: left;
            padding-bottom: 8px;
        }
        }
        
    }
    
}
.disc-mma{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 20px 0 20px;
    img{
        width: 700px;
    }
    .disc-mmaTxt{
        div{
            padding: 20px 50px 20px 50px;
            p{
            text-align: left;
            padding-bottom: 8px;
        }
        }
        
    }
    
}