body{
  cursor: url("../../img/cursor-images/boxing-gloves.png") 16 16, auto;
}

body.onclick{
  cursor: url("../../img/cursor-images/punching-gloves.png")16 16, auto;
}

main {
  @include media-max($media-portrait){
    padding-top: 10rem;
  }
}


header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;

  background-color: $BackBlack;
  border-bottom: 1px solid $graphite;

  button {
    display: none;
  }

  @include media-max($media-portrait) {
    width: 100%;
    position: fixed;

    // style du bouton Burger
    .burger-btn {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 1000;
      align-self: center;

      .bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        border-radius: 5rem;
        transition: 0.3s;
      }

      // animation pour transformer le burger en X
      &.active {
        .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }

    // menu en responsive
    nav {
      position: fixed;
      top: 0;
      right: -100%; // Caché à droite par défaut
      width: 40%; // Largeur du menu mobile
      height: 100vh;
      background: $oxblood;
      transition: 0.4s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 2px solid rgb(2, 2, 2);

      &.active {
        right: 0; // Apparaît à l'écran
      }

      .menu {
        flex-direction: column;
        gap: 3rem;
        list-style: none;

        a {
          color: #fff !important;
          font-weight: 800;
        }
      }
    }

    // Responsive : Cacher le burger sur Desktop
    @media (min-width: 900px) {
      .burger-btn {
        display: none;
      }
      nav {
        position: static;
        height: auto;
        width: auto;
        right: auto;

        .menu {
          flex-direction: row;
        }
      }
    }
  }

  .header-logo-container {
    display: flex;
    cursor: pointer;

    img {
        
      background-color: $Grey-beige;
      width: 100px;
      border: 0.1px solid $rich-mahogany;
      box-shadow: 0 0 10px $Grey-beige;
      border-radius: 5px;
      padding-left: 6px;
      transition: transform 0.3s ease; 
      
      &:hover {
        transform: scale(1.1);
        }
    }
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      gap: 3rem;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $oxblood !important;
          transition: 0.5s ease;
          &:hover {
            color: red !important;
          }
        }
      }
    }
  }
}

.index-main {
  .main-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    text-align: center;
  }

  .martial_arts-section {
    display: flex;
    margin-top: 10%;
    gap: 10%;

    @include media-max($media-portrait) {
      display: flex;
      flex-direction: column;
    
      gap: 5rem;
    }

    div {
      @include media-max($media-portrait){
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      p {
        @include media-max($media-portrait) {
          width: 60%;
        }
      }

      img {
        width: 70%;
      }
    }
  }

  .team-qualities {
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 10%;
    justify-content: space-between;

    @include media-max($media-portrait) {
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      margin-top: 12%;
      margin-bottom: 8%;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 150px;
      }
    }
  }

  .discover-us {
    display: flex;
    height: 70vh;
    gap: 3rem;
    margin-bottom: 12rem;

    @include media-max($media-portrait) {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .img-container {
      display: flex;
      width: 50%;

      @include media-max($media-portrait) {
        width: 90%;
      }
      img {
        object-fit: cover;
        max-width: 100%;
      }
    }

    .txt-container {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include media-max($media-portrait) {
        width: 80%;
      }

      button {
        margin-top: 2rem;
        padding: 0.5rem 2rem;
        width: 70%;
        background-color: $oxblood;
        color: rgb(255, 244, 244);
        font-weight: 700;
        border: 0.5px solid $graphite;
        border-radius: 1rem;
        align-self: center;
        transition: 0.5s ease;
        a {
          color: white;
          text-decoration: none;
          width: 100%;
        }

        &:hover {
          background-color: rgb(95, 11, 0);
          cursor: pointer;
        }
      }
    }
  }
}
