main{
    height: 400px;
    width: 150px;
    background-color: black;
    
header { 
    .logo {
        display: flex;
        justify-content: left;
        width: 200px;
    }
    .NavBarLink {
        display: flex;
        justify-content: space-around;

    }

    }
}