header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;



  @include media-max($media-portrait) {
    width: 100%;
   

  }

  .header-logo-container {
    display: flex;
    img {
      width: 100px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      gap: 3rem;


      li {
        list-style-type: none;

        a {
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }

  }
}

.index-main {
  .main-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    text-align: center;
  }

  .martial_arts-section {
    display: flex;
    margin-top: 10%;
    gap: 10%;

    @include media-max($media-portrait) {
      flex-direction: column;
      gap: 5rem;
    }

    div {
      text-align: center;

      p {
        @include media-max($media-portrait) {
          width: 60%;
          justify-self: center;
        }
      }

      img {
        width: 70%;
      }
    }
  }

  .team-qualities {
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 10%;
    justify-content: space-between;

    @include media-max($media-portrait) {
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      margin-top: 12%;
      margin-bottom: 8%;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 150px;
      }
    }
  }

  .discover-us {
    display: flex;
    height: 70vh;
    gap: 3rem;
    margin-bottom: 8rem;

    @include media-max($media-portrait) {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .img-container {
      display: flex;
      width: 50%;

      @include media-max($media-portrait) {
        width: 90%;
      }
      img {
        object-fit: cover;
        max-width: 100%;
      }
    }

    .txt-container {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include media-max($media-portrait) {
        width: 80%;
      }


      button {
        margin-top: 2rem;
        padding: 0.5rem 2rem;
        width: 70%;
        background-color: $oxblood;
        color: rgb(255, 244, 244);
        font-weight: 700;
        border: 0.5px solid $graphite;
        border-radius: 1rem;
        align-self: center;
        transition: 0.5s ease;
        a{
            color: white;
            text-decoration: none;
            width: 100%;
        }

        &:hover {
          background-color: rgb(95, 11, 0);
          cursor: pointer;
        }
      }
    }
  }
}
