header {
  .logo {
    display: flex;
    justify-content: left;
    width: 200px;
  }
  .NavBarLink {
    display: flex;
    justify-content: space-around;
  }
}

.index-main {
  .main-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    text-align: center;
  }

  .martial_arts-section {
    display: flex;
    margin-top: 10%;
    gap: 10%;

    div {
      text-align: center;

      img {
        width: 70%;
      }
    }
  }

  .team-qualities {
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 10%;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;

      img {
        width: 150px;
      }
    }
  }

  .discover-us {
    display: flex;
    height: 70vh;
    gap: 3rem;
    margin-bottom: 8rem;

    .img-container {
      display: flex;
      width: 50%;
      img {
        object-fit: cover;
        max-width: 100%;
      }
    }

    .txt-container {
      width: 50%;
      text-align: center;

      button {
        padding: 0.5rem 2rem;
      }
    }
  }
}
