/* SCSS RGB */
$BackBlack: rgba(5, 6, 9, 1);
$Grey-beige: rgba(169, 159, 150, 1);
$oxblood: rgba(163, 0, 3, 1);
$graphite: rgba(51, 51, 51, 1);
$rich-mahogany: rgba(60, 0, 0, 1);

////////////////////////////////////////
//? Effet de soulignement de titre//
  .underline-effect {
    display: inline-block;
    position: relative;
  }

  .underline-effect::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px; /* Distance par rapport au texte */
    width: 50%; /* Taille de la barre */
    height: 1px; /* Épaisseur */
    background-color: black;
    transform: translateX(-50%);
  }
  ////////////////////////////////////